#preview {
  background-color: #efefef;
  color: #111;
  font-family: sans-serif;
}

#preview > * {
  margin: 1rem 0;
}

#preview h1 {
  border-bottom: 4px solid rgba(0, 0, 0, .5);
}

#preview h2,
#preview h3 {
  border-bottom: 2px solid rgba(0, 0, 0, .5);
}

#preview h4,
#preview h5,
#preview h6 {
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}

#preview pre,
#preview code {
  background-color: #111;
  color: #eee;
}

#preview li {
  margin-left: 2rem;
}

#preview blockquote p {
  position: relative;
  padding-left: 1rem;
  line-height: 2;
}

#preview blockquote p::before {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  content: '';
  height: 2em;
  width: 5px;
  background-color: hsl(180, 50%, 30%);
}