.Window {
  margin: 1rem auto;
  border-radius: 6px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
  width: 50%;
  max-width: 70rem;
}

.Window__heading {
  padding-left: 1rem;
  position: relative;

  background-color: var(--light-blue);
  border-radius: 6px 6px 0 0;

  font-family: 'Audiowide', cursive;
}

.Window__icon {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.Window__textarea {
  margin-bottom: -10px;
  padding: 1rem 2rem;
  background-color: var(--dark-blue);
  border: none;
  color: #fff;
  height: 100%;
  width: 100%;
  min-height: 20rem;
  overflow: scroll;
  outline: none;
}

textarea {
  resize: vertical;
}

@media only screen and (max-width: 1000px) {
  .Window {
    width: 100%;
  }
}
